.logo {
    height: 105px;
    width: 105px;
}

:root {
    --red: #E6563B;
    --golden: #EB9D3A;
    --green: #7CB06C;
    --turquoise: #00ABA9;
    --accent-color: #F0F0F0;
    --background-color: #E6E6E6;
    --border-size: 8px;
}

.container {
    background-color: var(--background-color);
}


.red {
    background-color: var(--red);
}

.golden {
    background-color: var(--golden);
}

.green {
    background-color: var(--green);
}

.turquoise {
    background-color: var(--turquoise);
}

.golden-icon {
    height: 18px;
    width: 18px;
    background-color: var(--golden-circle);
    border-radius: 75%;
    font-size: 18px;
    text-align: center;
}

.green-icon {
    height: 18px;
    width: 18px;
    background-color: var(--green-circle);
    border-radius: 75%;
    font-size: 18px;
    text-align: center;
}

.turquoise-icon {
    height: 18px;
    width: 18px;
    background-color: var(--turquoise-circle);
    border-radius: 75%;
    font-size: 18px;
    text-align: center;
}



body {
    margin: 0;
    padding: 0;
}

/*.one-to-one {*/
/*    width: 100%;*/
/*    height: 105px;*/
/*    !* 1:1 Aspect Ratio *!*/
/*    !*padding-top: calc(100% - (var(--border-size) * 2));*!*/
/*    !* ---------------- *!*/
/*    padding-top: calc(250% - (200px * 2));*/
/*    position: relative;*/
/*    background: #4b5263;*/
/*    border: var(--border-size) solid var(--accent-color);*/
/*    border-radius: 50%;*/
/*} Thanks Tristan*/

.one-to-one {
    width: 105px;
    /* 1:1 Aspect Ratio */
    height: 105px;
    /* ---------------- */
    position: relative;
    border: var(--border-size) solid var(--accent-color);
    border-radius: 50%;
}

.icon {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    position: relative;
    border: var(--border-size);
}

.text {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accent-color);
    font-family: 'Anton', sans-serif;
    /*   font-size: calc(2vw + 2vh + 1vmin); */
    font-size: 1em;
    text-transform: uppercase;
}

.small-font {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Anton', sans-serif;
    /*font-size: calc(2vw + 2vh + 1vmin);*/
    font-size: 1rem;
    text-transform: uppercase;
}

.apples {
    height: 200px;
    width: 300px;
    border: var(--accent-color);
}

.macbook {
    height: 200px;
    width: 300px;
    border: var(--accent-color);
}

.man {
    height: 200px;
    width: 300px;
    border: var(--accent-color);

}

.security {
    height: 200px;
    width: 300px;
    border: var(--accent-color);
}

.mobile {
    height: 3em;
    width: 3em;
}


.head {
    height: 3em;
    width: 3em;
}

.ipad {
    height: 3em;
    width: 3em;
}

.twitter-tag {
    display: flex;
    justify-content: center;
}
.tweet {
    padding-left: 1em;
}
.twitter {
    color: #1DA1F2;
}

/*.design {*/
/*    ;*/
/*}*/
p {
    font-size: 12px;
}